Content-Disposition header can contain invalid characters and crash the program

When downloading a video whose title contains invalid characters (ex. Arabic) the program will crash because the `Content-Disposition` header can't be set.

```js
_http_outgoing.js:512
    throw new ERR_INVALID_CHAR('header content', name);
    ^

TypeError [ERR_INVALID_CHAR]: Invalid character in header content ["Content-Disposition"]
    at ServerResponse.setHeader (_http_outgoing.js:521:3)
    at PassThrough.<anonymous> (/usr/src/maroon/.next/server/static/8w40pU9KmXaCydT9i86p2/pages/api/dl/[type]/[video].js:151:16)
    at Object.onceWrapper (events.js:422:26)
    at PassThrough.emit (events.js:315:20)
    at PassThrough.Readable.pipe (_stream_readable.js:778:8)
    at downloadFromInfoCallback (/usr/src/maroon/node_modules/ytdl-core/lib/index.js:142:7)
    at Immediate._onImmediate (/usr/src/maroon/node_modules/ytdl-core/lib/index.js:162:5)
    at processImmediate (internal/timers.js:456:21) {
  code: 'ERR_INVALID_CHAR'
}
```

See [RFC 5987 section 3.2.2](https://tools.ietf.org/html/rfc5987#section-3.2.2) for the standard to encode the value in UTF-8, which modern browsers will properly decode.

---

Reported by @MicroDroid

Now fix it

Not yet fixed?

If you can read that RFC and figure out a way to encode the data I can implement it in the downloading logic.

Nevermind, I found an npm package for it: [`content-disposition`](https://www.npmjs.com/package/content-disposition),

Alright, this means you figured it out and the bug is resolved?

This library is terrible.

Found a different library.